exercise {
	display: block;
	border: 6px double gray;
	padding: 10px;
	max-width: 350px;
	margin-right:  10px;
	margin-top: 20px;
}

.exercises {
	display: flex;
	flex-wrap: wrap;
}

form.quote-author {
	line-height: 2;
}

.parts-of-speech {
	display: flex;
	justify-content: space-between;
	max-width: 200px;
}

.parts-of-speech li {
	margin-top: 5px;
	color:  red;
}



